/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  font-size: 100%;
  font-family: "Lora", serif;
  color: #2d313f;
  background-color: #e7eaf0;
  
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 100%;
  text-align: center;
  background: #2d313f;
}
header h1 {
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  header {
    height: 300px;
    line-height: 300px;
  }
}

#google-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #e7eaf0;
}
#cd-google-map {
  position: relative;
}
#cd-google-map address {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: rgba(0, 151, 167, 0.9);
  color: white;
  font-size: 15px;
  font-size: 0.8125rem;
  height: 40px;
  text-align: center;
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(0, 151, 167, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #d36868;
}

#cd-zoom-in {
  position: fixed;
  margin-top: 10px; 
  right: 10px;
}

#cd-zoom-out {
  position: fixed;
  margin-top: 50px;
  background-position: 50% -32px;
  right: 10px;
}
